* {
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.2s;
}

::-webkit-scrollbar {
    background-color: rgb(155, 155, 155);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(73, 73, 73);
    border-radius: 100px;
}

.header {
    height: 50px;
    background-color: #3D5AFE;
    box-shadow: 2px 2px 5px 2px rgb(17, 17, 17);
    position: relative;
}
.linkHome{
    text-decoration: none;
    margin-left: 17%;
    margin-top: -26px;
    position: fixed;
    color: white;
    align-items: center;
    font-size: 24px;
}
.linkForm{
    text-decoration: none;
    margin-left: 24%;
    margin-top: -26px;
    position: fixed;
    color: white;
    align-items: center;
    font-size: 24px;
}
.linkAllNews{
    text-decoration: none;
    margin-left: 38%;
    margin-top: -26px;
    position: fixed;
    color: white;
    align-items: center;
    font-size: 24px;
}

.title {
    color: white;
    position: relative;
    left: 10px;
    top: 5px;
    width: 40%;
}

.data {
    height: 100vh;
    width: 70%;
    float: right;
}

.list-div {
    height: 100vh;
    background-color: #536DFE;
    width: 30%;
    float: right;
}

.search {
    width: 70%;
    font-size: larger;
    border: 0px;
    margin-top: 10px;
    margin-left: 1.5vw;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 2px 2px 10px 1px rgb(58, 57, 57);
}

.btn1 {
    height: 25px;
    border: 0px;
    background-color: rgb(50, 123, 233);
    color: white;
}

.btn1:hover {
    cursor: pointer;
    background-color: rgb(13, 131, 199);
}

.list {
    border: 2px solid white;
    width: 80%;
    margin-top: 20px;
    height: 80vh;
    box-shadow: 2px 2px 10px 1px rgb(58, 57, 57);
    margin-left: 3vw;
}

.item {
    cursor: pointer;
    text-align: center;
    color: white;
    padding: 7px;
    border-bottom: 1px solid white;
    background-color: #8C9EFF;
}

.tool {
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 70%;
    margin-left: 4.5vw;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px rgb(58, 57, 57);
}

.item:hover {
    cursor: pointer;
    box-shadow: 2px 2px 10px 1px rgb(58, 57, 57);
    position: relative;
    background-color: rgb(25, 118, 240);
}

.items {
    margin-top: 10px;
    overflow: hidden;
    overflow-y: scroll;
    height: 87vh;
    width: 27vw;
    position: relative;
    left: 1.5vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #536DFE;
    ;
    box-shadow: 2px 2px 10px 1px rgb(58, 57, 57);
}

.form {
    width: 60vw;
    height: 90vh;
    position: relative;
    left: 5vw;
    overflow: hidden;
    top: 3vh;
    border-radius: 5px;
    background-color: rgb(141, 175, 226);
    box-shadow: 2px 2px 10px 1px rgb(58, 57, 57);
}

.header-p {
    background-color: rgb(41, 132, 223);
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 10px 1px rgb(58, 57, 57);
}

.name {
    font-size: 20px;
    width: 50%;
    float: left;
    margin-top: 20px;
}

.phone {
    font-size: 20px;
    width: 50%;
    float: left;
    margin-top: 20px;
}

.cn {
    font-size: 20px;
    width: 50%;
    float: left;
    margin-top: 20px;
}

.in {
    font-size: 20px;
    width: 50%;
    float: left;
    margin-top: 20px;
}

.ad {
    font-size: 20px;
    width: 50%;
    float: left;
    margin-top: 20px;
}

.re {
    font-size: 20px;
    width: 50%;
    float: left;
    margin-top: 20px;
}

.me {
    font-size: 20px;
    width: 50%;
    float: left;
    margin-top: 20px;
}

.text {
    margin-top: 10px;
    margin-left: 10px;
    width: 40vw;
    height: 50vh;
    font-size: 20px;
    resize: none;
}

.btn2 {
    position: relative;
    top: 6vh;
    left: 1vw;
}