#buSer{
    margin-bottom: 7px;
    margin-left: 3%;
    height: 24px;
    width: 57px;
    border-radius: 10px;
}

.list_left{
    width: 24%;
    height: auto;
    background-color: #ff0000b0;
    border-top-left-radius: 16px;
    border-top-right-radius: 10px;
    float: right;
    padding: 5px;
}
.list{
    width: 90%;
    background-color: blue;
    border-radius: 10px;
    height: 35px;
    text-align: center;
    padding:10px;
    margin: 5px;
    cursor: pointer;
    /* border-bottom: 2px solid white; */
}
.name{
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
    width: 47%;
    height: auto;
    padding: 3px;
    float: left;
}
.ind{
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
    width: 48%;
    height: auto;
    margin-top: -34px;
    padding: 10px;
    float: right;
}
.search{
width: 90%;
padding: 10px;
height: 30px;
direction: rtl;
font-size: 1.2rem;

}