body{
    background: linear-gradient(to right, blue, white,rgb(43, 66, 170),white,rgb(104, 104, 196));
}
p {
    margin-left: 31%;
    margin-top: 6%;
    margin-bottom: 0%;
    font-size: 28px;
}

#newNews {
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px solid;
    border-radius: 29px;
}

#but {
    margin-left: 41%;
    margin-top: -11%;
    height: 37px;
    width: 153px;
    border: 1px;
    border-radius: 22px;

}
#but:hover{
  
        cursor: url(../useImage/pointer.ico), default;
    
}