#content {
    border: solid green 5px;
    padding: 15px;
}

#divMarq {
    padding: 15px;
    cursor: pointer;
    border: 2px solid;
    width: auto;
    height: auto;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
    background: linear-gradient(to right, blue, red, yellow, white, yellow ,white);
}
#divMarq {
    width: auto;
    height: auto;

    position: relative;
    animation-name: example;
    animation-duration: 1s;
}
@keyframes example {
    25% {
        background-color: yellow;
        left: 40px;
        top: 20px;
        right: 40px;
    }
}
#imgDel {
    cursor: pointer;
    float: right;
    z-index: +1;
}